
  <center><h1> ======= Welcome to Playlister ======</h1></center>
  

<p></p>
<center><h2>SONGS SONGS   <a href='/songs'>Click here to go to song list</a>   SONGS SONGS </h2>  </center>

<p></p>
<center> <h2>ARTISTS ARTISTS   <a href='/artists'>Click here to go to artist list</a>   ARTISTS ARTISTS </h2> </center>

<p></p>
<center><h2>GENRES GENRES    <a href='/genres'>Click here to go to genre list</a>   GENRES GENRES</h2>  </center>

<p></p>

  <center><h1> ======= Welcome to Playlister ======</h1></center>




 